/* css styles */

/* Make custom logo images match Bootstrap icon size */
.bluesky-logo,
.gscholar-logo,
.orcid-logo {
  width: 1.7rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: middle;
}

/* Google Scholar needs to be slightly larger */
.gscholar-logo {
  width: 1.8rem;
  height: 1.8rem;
}
