// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #750014 !default;
$header-bg-color-secondary: #8b959e !default;

// Text
$section-headings-color: #750014 !default;
$body-text-color: #000000 !default;
$body-link-color: #8b959e !default;
$blockquote-text-color: #750014 !default;

// Code
$code-bg-color: #c7c8c9 !default;
$code-text-color: #750014 !default;

// Borders
$border-color: #750014 !default;
$table-border-color: #750014 !default;
$hr-border-color: #750014 !default;
